<!-- your html code here -->
<div class="bg-white">
<div class="border-top border-bottom py-3 w-100 h-50 d-flex align-items-center mx-auto">
    <div class="row align-items-center">
        <div class="col-md-8">
            <p><b><h1><span class="custom-red">THIS WILL CATCH </span> <span class="text-muted">YOUR EYES FIRST!</span></h1></b></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at malesuada massa. Donec vel molestie mauris. Nulla ut viverra justo. Pellentesque euismod lorem eu ligula blandit sollicitudin. Sed et ante id mi suscipit laoreet eu non massa. Sed blandit ante leo, in pharetra erat fermentum eget. Cras consectetur velit ac urna lacinia, id mattis velit consectetur.</p>
        </div>g
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/3414766/pexels-photo-3414766.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="image2" class=" img-fluid rounded-circle">
          </div>
      </div>
    </div>
    </div>
    