<!-- your html code here -->
<div class="border-top border-bottom py-3 w-100 h-50 d-flex align-items-center mx-auto">
<div class="row align-items-center">
    <div class="col-md-8">
        <p> <span class="custom-red">THIS WILL CATCH </span>YOur EYES Forreal.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at malesuada massa. Donec vel molestie mauris. Nulla ut viverra justo. Pellentesque euismod lorem eu ligula blandit sollicitudin. Sed et ante id mi suscipit laoreet eu non massa. Sed blandit ante leo, in pharetra erat fermentum eget. Cras consectetur velit ac urna lacinia, id mattis velit consectetur.</p>
    </div>
    <div class="col-md-4">
        <img src="https://images.pexels.com/photos/373072/pexels-photo-373072.jpeg?auto=compress&cs=tinysrgb&w=800" alt="image2" class="img-fluid rounded-circle">
      </div>
  </div>
</div>
